.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
  margin: auto;
  display: block;

}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;
}

a {
  color: rgb(226, 161, 19); /* Sets the default color of all unvisited links to black */
  text-decoration: none; /* Removes the default underline */
}

a:visited {
  color: black; /* Sets the color of visited links to black */
}

a:hover {
  color: gray; /* Changes the color when the user hovers over the link */
  text-decoration: underline; /* Adds an underline on hover for better user experience */
}

a:active {
  color: darkgray; /* Changes the color when the link is being clicked */
}

