html {
  background-color: #e5aaaa;
}

h1 {
    color: #DDC3C3;
    background-color: #3E1E68;
    font-family: "Caveat", cursive;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid #DDC3C3;
    text-align: left;
    width: auto;
    height: auto;
    display: flex;
}

h4{
    padding: 2px 10px;             /* Adds space between the text and the border */
    border: 2px solid #DDC3C3; /* Defines the border style, width, and color */
    border-radius: 5px;        /* (Optional) Adds rounded corners to the border */
    color: #FFACAC;
    background-color:#6B3F69;
    background-size: 330px 100px;
    width: 70px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    display: flex;
}

h5{
    font-weight: bold;
    font-size: 15px;
}


body {
    background-color: #8f598e;
    color: rgb(255, 255, 255);
    width: 75%;
    margin: auto;
    padding: 20px 50px;
}

#sections{
    font-weight: bold;
}

#container {
      padding: 10px;
      background-color: #8f598e;
      display: flex;
      gap: 10px;
      list-style: none;
    }


a {
  color: rgb(226, 161, 19); /* Sets the default color of all unvisited links to black */
  text-decoration: none; /* Removes the default underline */
}

a:visited {
  color: black; /* Sets the color of visited links to black */
}

a:hover {
  color: gray; /* Changes the color when the user hovers over the link */
  text-decoration: underline; /* Adds an underline on hover for better user experience */
}

a:active {
  color: darkgray; /* Changes the color when the link is being clicked */
}

